.attribution {
  font-size: 11px;
  text-align: center;

  position: absolute;
  top: 98%;
  left: 50%;

  transform: translateX(-50%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ***** ***** ***** */

html,
body {
  margin: 0;
  font-size: 14px;
  font-family: "Montserrat";
}

body {
  height: 100vh;

  background-color: hsl(30, 38%, 92%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 576px;
  height: 432px;

  /* border: 1px solid black; */
  border-radius: 10px;

  display: flex;
  flex-direction: row;
}

section {
  width: 50%;
  height: 100%;
}

.img-container {
  background-image: url("images/image-product-desktop.jpg");
  background-size: contain;
  background-repeat: no-repeat;

  border-radius: 10px 0 0 10px;
}

.info {
  background-color: white;

  border-radius: 0 10px 10px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 2rem;

  box-sizing: border-box;

  text-align: left;
}

#title {
  letter-spacing: 0.25em;
  color: hsl(228, 12%, 48%);
}

h1 {
  font-family: "Fraunces";
  font-size: 2.5rem;

  line-height: 1em;

  position: relative;
  bottom: 0.25em;
}

p {
  line-height: 1.5em;
  color: hsl(228, 12%, 48%);

  position: relative;
  bottom: 2em;
}

.prices {
  position: relative;
  bottom: 1.5rem;
}

.prices #prices-current {
  font-family: "Fraunces";
  color: hsl(158, 36%, 37%);
  font-size: 2.5rem;
}

.prices #prices-past {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);

  position: relative;
  left: 1em;
  bottom: 0.5em;
}

button {
  width: 100%;
  padding: 1rem;

  border: none;
  border-radius: 10px;
  background-color: hsl(158, 36%, 37%);
}

button:hover {
  background-color: hsl(212, 21%, 14%);
  cursor: pointer;
}

.btn-text {
  font-weight: bold;
  color: white;

  position: relative;
  bottom: 3px;
  left: 3px;
}

/* Dark cyan: hsl(158, 36%, 37%)
Very dark blue: hsl(212, 21%, 14%)
Dark grayish blue: hsl(228, 12%, 48%) */
